{% extends "layout.html" %}

{% block title %}Log In{% endblock %}
{% block header %}Log in{% endblock %}

{% block content %}
<form action="/login" method="POST">
  <div class="form-group">
    <label for="acc_no">Account Number:</label>
    <input type="text" id="acc_no" name="acc_no" maxlength="6" required>
  </div>
  <div class="form-group">
    <label for="acc_pin">Pin:</label>
    <input type="password" id="acc_pin" name="acc_pin" maxlength="4" required>
  </div>
  <div class="form-group">
    <input type="submit" value="Log in">
  </div>
</form>

{{ get_flashed_messages()[0] }}
{% endblock %}